<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find flipper_trainer)/config/my_turtlebot2_maze_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="flipper_trainer" name="turtlebot2_maze" type="start_training.py" output="screen"/>
</launch>